.section-2 {
	flex: 1;
}
.section-2 .logo {
	display: block;
	margin: px auto;
	margin-top: px;
}
.s-box {
	width: 580px;
	margin: px auto;
	position: relative;
	margin-top: px;
	text-align: center;
}
.s-box .s-input {
	display: block;
	border: 1px solid #ddd;
	color: rgba(33, 134, 87, 0.87);
	font-size: 16px;
	padding: 13px;
	padding-left: 45px;
	border-radius: 25px;
	width: 100%;
	transition: box-shadow 100ms;
	outline: none;
}
.s-box  .s-input:hover {
	border: 1px solid rgb(119, 69, 69);
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.05), 
				0 0 2px rgba(0, 0, 0, 0.05),
				0 0 3px rgba(0, 0, 0, 0.05),
				0 0 4px rgba(0, 0, 0, 0.05), 
				0 0 5px rgba(0, 0, 0, 0.05), 
				0 0 4px rgba(0, 0, 0, 0.05), 
				0 0 5px rgba(0, 0, 0, 0.05)
}
.s-box .search-icon {
	width: 20px;
	opacity: .4;
	position: absolute;
	top: 13px;
	left: 14px;
}
.s-box .vs-icon {
	width: 14px;
	position: absolute;
	top: 13px;
	right: 24px;
}
.s-btn {
	border: 1px solid transparent;
	padding: 9px 15px;
	color: rgb(134, 35, 35);
	font-size: 14px;
	border-radius: 4px;
	display: inline-block;
	margin-right: 10px;
	margin-top: 28px;
	outline: none;
	cursor: pointer;
	transition: border-color 100ms;
}
.s-btn:hover {
	border: 1px solid #aaa;
}
